html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

main {
	height: max-content;
	width: 90vw;
	margin: 0 5vw;
}

.home-main {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav {
	width: 100vw;
	background-color: lightgrey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	& .title {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		& img {
			height: 100px;
			image-rendering: optimizeQuality;
		}
		& p {
			user-select: none;
			margin: 0;
			padding-left: 10px;
			font-size: 25px;
		}
	}
	& .nav-btns {
		margin-right: 20px;
		display: flex;
		flex-direction: row;
		gap: 10px;
		& div {
			padding: 5px 10px;
			border-radius: 15px;
			border: 2px solid black;
			font-size: 20px;
			user-select: none;
			transition: 300ms;
			background-color: #006bb7;
			color: white;
			cursor: pointer;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.index-carousel {
	overflow: hidden;
	height: 50vh;
	width: 40vw;
	white-space: nowrap;
	position: relative;
	& p#carousel-text {
		z-index: 2;
		margin: 0;
		color: white;
		font-size: 30px;
		user-select: none;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #00000022;
		background-color: #0000007f;
		text-transform: capitalize;
		transform: translateY(-110%);
		padding: 0 5px;
		position: absolute;
		top: 100%;
		left: 1%;
	}
	& img {
		object-fit: cover;
		width: inherit;
		height: inherit;
		position: absolute;
		top: 0;
	}
	& img.active {
		transition: 750ms ease-in-out;
		visibility: visible;
		transform: translateX(0%);
	}
	& img.inactive {
		transition: 0ms;
		visibility: hidden;
		transform: translateX(100%);
	}
	& img.offload {
		transition: 750ms ease-in-out;
		visibility: visible;
		transform: translateX(-100%);
	}
}

.home-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	& .title {
		font-size: 30px;
		text-decoration: underline;
		user-select: none;
	}
	& div.apply-voucher-btn {
		padding: 5px 10px;
		border-radius: 15px;
		border: 2px solid black;
		user-select: none;
		transition: 300ms;
		background-color: #006bb7;
		color: white;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
		}
	}
	& .txt {
		max-width: 25vw;
		text-align: justify;
	}
}

.admin-login {
	padding: 10px 20px;
	border: 2px solid black;
	background-color: white;
	transform: translateX(-100%);
	position: absolute;
	left: 99%;
	top: 1%;
	& p.title {
		user-select: none;
		margin: 0;
		text-align: center;
		font-size: 20px;
		text-decoration: underline;
	}
	& div.inputs label {
		user-select: none;
	}
	& div.inputs input {
		height: 20px;
		width: 200px;
		margin-bottom: 5px;
	}
	& div.submit-btn {
		width: fit-content;
		font-size: 18px;
		background-color: #006bb7;
		color: white;
		user-select: none;
		cursor: pointer;
		transition: 100ms;
		padding: 5px 10px;
		border-radius: 15px;
		border: 2px solid black;
		transform: translateX(-50%);
		position: relative;
		left: 50%;
		&:hover {
			transform: translateX(-50%) scale(1.1);
		}
	}
	& div.close-btn {
		font-size: 20px;
		user-select: none;
		cursor: pointer;
		position: absolute;
		left: 90%;
		top: 5%;
	}
	& p.error-msg {
		margin: 0;
		user-select: none;
		background-color: #ff00007f;
		color: black;
	}
}

.admin-main {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
	& .file-btns {
		width: max-content;
		display: flex;
		flex-direction: column;
		gap: 10px;
		& input[type="file"] {
			display: none;
		}
		& > div {
			padding: 10px 15px;
			border: 1px solid black;
			& div.title {
				width: max-content;
				text-decoration: underline;
				user-select: none;
				font-size: 20px;
				margin-bottom: 5px;
				transform: translateX(-50%);
				position: relative;
				left: 50%;
			}
			& div.body {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 20px;
				align-items: center;
				& img {
					height: 100px;
					cursor: pointer;
				}
				& .right {
					display: flex;
					flex-direction: column;
					gap: 10px;
					& select {
						width: 160px;
						height: 20px;
						cursor: pointer;
					}
					& div#file-name {
						width: 160px;
						text-wrap: nowrap;
						user-select: none;
						overflow: hidden;
					}
					& div#submit {
						width: max-content;
						user-select: none;
						cursor: pointer;
						font-size: 25px;
						transform: translateX(-50%);
						position: relative;
						left: 50%;
						--width: 0px;
						&:hover {
							--width: 80px;
						}
						&::before {
							content: '';
							height: 2px;
							width: var(--width);
							transition: 100ms;
							background-color: #006bb7;
							transform: translateX(-50%);
							position: absolute;
							left: 50%;
							top: 100%;
						}
					}
				}
			}
		}
	}
}

.admin-data-displayer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.import-method-modal {
	max-width: 500px;
	max-height: 500px;
	width: 80vw;
	height: 80vh;
	border-radius: 15px;
	& div.close-btn {
		cursor: pointer;
		font-size: 25px;
		transform: translateY(-30%);
		position: absolute;
		right: 10px;
	}
	& div.header {
		height: 5%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	& div.body {
		height: 90%;
		& textarea.file-display-content {
			resize: none;
			white-space: pre;
			width: 100%;
			height: 95%;
			overflow: scroll;
			border: 1px solid black;
			transform: translateY(-50%);
			position: relative;
			top: 50%;
		}
	}
	& div.footer {
		height: 5%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 20px;
		user-select: none;
		& div {
			font-size: 20px;
			cursor: pointer;
			position: relative;
			--width: 0px;
			&:hover {
				--width: 80px;
			}
			&::before {
				content: '';
				height: 2px;
				width: var(--width);
				transition: 100ms;
				background-color: #006bb7;
				transform: translateX(-50%);
				position: absolute;
				left: 50%;
				top: 100%;
			}
		}
	}
}

.voucher-controls {
	margin-bottom: 10px;
	float: right;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	& div.filter-controls-btn {
		padding: 5px;
		outline: 1px solid black;
		user-select: none;
		cursor: pointer;
	}
	& div.filter-controls-btn.inactive {
		opacity: 50%;
		cursor: auto;
	}
	& select#database-selecter {
		width: 160px;
	}
	& div.format-controls {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 15px;
		align-items: center;
		& img {
			margin-right: 5px;
			height: 20px;
			transform: scale(1.5);
			cursor: pointer;
		}
		& img.inactive {
			opacity: 0.5;
		}
	}
}

.filter-controller-container {
	width: max-content;
	min-width: 200px;
	max-width: 80vw;
	padding: 10px 15px;
	border: 2px solid black;
	background-color: white;
	z-index: 2;
	position: absolute;
	right: 5vw;
	& div.title {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		& p {
			margin: 0;
			text-decoration: underline;
			user-select: none;
			font-size: 20px;
			font-weight: bold;
		}
		& p.exit {
			text-decoration: none;
			cursor: pointer;
			transform: translateY(-20%);
		}
	}
	& div.submit {
		user-select: none;
		cursor: pointer;
		margin-top: 10px;
		text-align: center;
	}
	& div.row {
		text-transform: capitalize;
		margin-bottom: 5px;
		user-select: none;
		display: flex;
		flex-direction: column;
		& div.option-select {
			margin-top: 2px;
			display: flex;
			margin-left: 20px;
			flex-direction: column;
		}
		& div.option-select.inactive {
			visibility: hidden;
			margin-top: 0;
			height: 0px;
		}
	}
}

body[data-page="data_view"] {
	overflow-y: hidden;
}

.data-displayer {
	height: max-content;
	max-height: 80vh;
	width: 100%;
	position: relative;
	overflow: auto;
	& .scope-controller {
		user-select: none;
		display: flex;
		flex-direction: row;
		font-size: 20px;
		gap: 5px;
		& div#left, div#right {
			cursor: pointer;
			font-weight: bold;
			transform: translateY(-15%);
		}
		& div#left.inactive, div#right.inactive {
			opacity: 50%;
		}
	}
}

table.data-display {
	width: 100%;
	& th, td {
		outline: 1px solid black;
		padding: 5px;
		text-align: center;
		& button {
			white-space: nowrap;
			cursor: pointer;
		}
	}
	& th::first-letter, td::first-letter {
		text-transform: capitalize;
	}
}

.map-container-modal {
	width: 80vw;
	height: 80vh;
	& div.close-btn {
		font-size: 30px;
		cursor: pointer;
		user-select: none;
		transform: translateY(-50%);
		position: absolute;
		right: 1%;
	}
	& iframe {
		user-select: none;
		width: 90%;
		height: 90%;
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
	}
	& div.disclaimer {
		position: absolute;
		bottom: 1%;
	}
}

.data-displayer-cards {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	& .card {
		width: 20vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		border: 2px solid black;
		padding: 5px;
		& p {
			text-align: center;
			margin: 0;
		}
		& img.plant-img {
			height: 30%;
			width: 70%;
			object-fit: cover;
		}
		& div.add-to-voucher-btn {
			cursor: pointer;
			user-select: none;
			background-color: #006bb7;
			color: white;
			padding: 5px 10px;
			outline: 2px solid black;
			border-radius: 10px;
		}
		& div.add-to-voucher-btn:active {
			transform: scale(0.9);
		}
	}
}

.voucher-menu {
	width: 100vw;
	height: max-content;
	box-sizing: border-box;
	padding: 75px 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	transition: 250ms;
	background-color: white;
	outline: 2px solid black;
	position: absolute;
	bottom: -50vh;
	& * {
		font-size: 20px;
	}
	& div.submit-btn {
		cursor: pointer;
		user-select: none;
		background-color: #006bb7;
		color: white;
		padding: 5px 10px;
		outline: 2px solid black;
		border-radius: 10px;
		margin-left: auto;
	}
	& div#see-selected-plants-btn {
		cursor: pointer;
		user-select: none;
		font-size: 18px;
		background-color: #006bb7;
		color: white;
		padding: 5px 5px;
		outline: 1px solid black;
		border-radius: 10px;
	}
	& div.submit-btn:active, div#see-selected-plants-btn:active {
		transform: scale(0.9);
	}
}

.voucher-plants-modal {
	padding-top: 5px;
	border-radius: 15px;
	& td#remove {
		cursor: pointer;
		user-select: none;
		transform: translateY(-10%);
	}
	& div#close-modal {
		font-size: 20px;
		text-align: right;
		cursor: pointer;
		user-select: none;
		position: relative;
	}
}

@media (max-width: 600px) {
	.data-displayer {
		height: auto;
	}
	.data-displayer-cards {
		margin-bottom: 50px;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 20px;
		& .card {
			width: 80vw;
		}
	}
	.voucher-menu {
		padding: 10px 0;
		flex-direction: column;
		gap: 5px;
		& div.submit-btn {
			margin-left: 0;
		}
	}
}